{% extends "base.html" %}
{% block content %}
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .participant {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .participant input {
        width: 60px;
        margin-right: 10px;
    }
    .health-bar {
        width: 100%;
        background-color: #e0e0e0;
        border-radius: 4px;
        overflow: hidden;
    }
    .health-bar-inner {
        height: 20px;
        background-color: #28a745;
    }
    .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        margin: 5px; /* Add margin for more space between buttons */
    }
    .btn:hover {
        background-color: #0056b3;
    }
    .btn-danger {
        background-color: #dc3545;
    }
    .btn-danger:hover {
        background-color: #c82333;
    }
    .btn-secondary {
        background-color: #6c757d;
    }
    .btn-secondary:hover {
        background-color: #5a6268;
    }
    .btn-move {
        background-color: #ffc107;
    }
    .btn-move:hover {
        background-color: #e0a800;
    }
    .btn-unconscious {
        background-color: #6c757d;
    }
    .btn-unconscious.active {
        background-color: #28a745;
    }
</style>
<div class="container">
    <h2>Combat Tracker</h2>
    <div id="participants">
        {% for participant in combat.participants_data %}
        <div class="participant" data-id="{{ loop.index }}">
            <input type="text" value="{{ participant.name }}" class="participant-name" {% if current_user.role == 'player' %}disabled{% endif %}>
            <input type="number" value="{{ participant.remainingHP }}" max="{{ participant.totalHP }}" class="current-hp" {% if current_user.role == 'player' %}disabled{% endif %}>
            <span>/ {{ participant.totalHP }}</span>
            <div class="health-bar">
                <div class="health-bar-inner" style="width: {% if participant.totalHP|int > 0 %}{{ (participant.remainingHP|int / participant.totalHP|int) * 100 }}{% else %}0{% endif %}%;"></div>
            </div>
            {% if current_user.role == 'master' %}
            <button class="btn btn-danger remove-participant">Remove</button>
            <button class="btn btn-unconscious mark-unconscious">Unconscious</button>
            <button class="btn btn-move move-up">Move Up</button>
            <button class="btn btn-move move-down">Move Down</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if current_user.role == 'master' %}
    <button class="btn" id="add-participant">Add Participant</button>
    <button class="btn" id="save-state">Save State</button>
    <button class="btn btn-danger" id="delete-state">Delete State</button>
    <button class="btn btn-secondary" id="reset-initiative" style="margin-bottom: 40px;">Reset Initiative</button>
    {% endif %}
    <a href="{% if current_user.role == 'master' %}{{ url_for('combats.manage_combats', campaign_id=combat.campaign_id) }}{% else %}{{ url_for('combats.view_combats', campaign_id=combat.campaign_id) }}{% endif %}" class="btn btn-secondary" >Back</a>
</div>
{% if current_user.role == 'master' %}
<script>
    document.getElementById('add-participant').addEventListener('click', function() {
        const participantsDiv = document.getElementById('participants');
        const newParticipant = document.createElement('div');
        newParticipant.classList.add('participant');
        newParticipant.innerHTML = `
            <input type="text" placeholder="Name" class="participant-name">
            <input type="number" placeholder="HP" class="current-hp">
            <span>/ <input type="number" placeholder="Total HP" class="total-hp"></span>
            <div class="health-bar">
                <div class="health-bar-inner" style="width: 0%;"></div>
            </div>
            <button class="btn btn-danger remove-participant">Remove</button>
            <button class="btn btn-unconscious mark-unconscious">Unconscious</button>
            <button class="btn btn-move move-up">Move Up</button>
            <button class="btn btn-move move-down">Move Down</button>
        `;
        participantsDiv.appendChild(newParticipant);
    });

    document.getElementById('save-state').addEventListener('click', function() {
        const participants = [];
        document.querySelectorAll('.participant').forEach((participant, index) => {
            const name = participant.querySelector('.participant-name').value;
            const remainingHP = participant.querySelector('.current-hp').value;
            const totalHP = participant.querySelector('.total-hp') ? participant.querySelector('.total-hp').value : participant.querySelector('span').innerText.split('/')[1].trim();
            participants.push({ name, remainingHP, totalHP });
        });
        fetch('{{ url_for("combats.save_state", combat_id=combat.id) }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ participants })
        }).then(response => response.json()).then(data => {
            alert(data.message);
        });
    });

    document.getElementById('delete-state').addEventListener('click', function() {
        if (confirm('Are you sure you want to delete the current state?')) {
            fetch('{{ url_for("combats.delete_state", combat_id=combat.id) }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json()).then(data => {
                alert(data.message);
                if (data.success) {
                    location.reload();
                }
            });
        }
    });

    document.getElementById('reset-initiative').addEventListener('click', function() {
        document.querySelectorAll('.participant').forEach(participant => {
            const totalHP = participant.querySelector('.total-hp') ? participant.querySelector('.total-hp').value : participant.querySelector('span').innerText.split('/')[1].trim();
            participant.querySelector('.current-hp').value = totalHP;
            participant.querySelector('.health-bar-inner').style.width = '100%';
        });
    });

    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-participant')) {
            event.target.closest('.participant').remove();
        } else if (event.target.classList.contains('mark-unconscious')) {
            event.target.classList.toggle('active');
            event.target.closest('.participant').classList.toggle('unconscious');
        } else if (event.target.classList.contains('move-up')) {
            const participant = event.target.closest('.participant');
            const previousParticipant = participant.previousElementSibling;
            if (previousParticipant) {
                participant.parentNode.insertBefore(participant, previousParticipant);
            }
        } else if (event.target.classList.contains('move-down')) {
            const participant = event.target.closest('.participant');
            const nextParticipant = participant.nextElementSibling;
            if (nextParticipant) {
                participant.parentNode.insertBefore(nextParticipant, participant);
            }
        }
    });

    document.addEventListener('input', function(event) {
        if (event.target.classList.contains('current-hp')) {
            const currentHP = parseInt(event.target.value);
            const totalHP = parseInt(event.target.nextElementSibling.querySelector('.total-hp') ? event.target.nextElementSibling.querySelector('.total-hp').value : event.target.nextElementSibling.innerText.split('/')[1].trim());
            const healthBarInner = event.target.nextElementSibling.nextElementSibling.firstElementChild;
            healthBarInner.style.width = totalHP > 0 ? `${(currentHP / totalHP) * 100}%` : '0%';
        }
    });
</script>
{% endif %}
{% endblock %}
