{% extends "base.html" %}

{% block content %}
<style>
    .combat-details {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    .combat-details p {
        margin: 10px 0;
    }
    .combat-details ul {
        list-style-type: none;
        padding: 0;
    }
    .combat-details li {
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
    .btn-back {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }
    .btn-back:hover {
        background-color: #0056b3;
    }
    .join-button, .leave-button {
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }
    .join-button {
        background-color: #28a745;
    }
    .join-button:hover {
        background-color: #218838;
    }
    .leave-button {
        background-color: #dc3545;
    }
    .leave-button:hover {
        background-color: #c82333;
    }
</style>
<div class="container">
    <h1>Combats for {{ campaign.name }}</h1>
    <ul>
        {% for combat in combats %}
            <li class="combat-details">
                <p><strong>Name:</strong> {{ combat.name }}</p>
                <p><strong>Campaign ID:</strong> {{ combat.campaign_id }}</p>
                <div class="button-group">
                    {% if current_user.id in combat.participants %}
                    <form method="POST" action="{{ url_for('combats.leave_combat', combat_id=combat.id) }}" style="display:inline;">
                        <button type="submit" class="btn leave-button">Leave</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{{ url_for('combats.join_combat', combat_id=combat.id) }}" style="display:inline;">
                        <button type="submit" class="btn join-button">Join</button>
                    </form>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('campaigns.play_campaign', campaign_id=campaign.id) }}" class="btn-back">Back</a>
</div>
{% endblock %}
